
    
    .flex-container{
         display: flex;
        gap: 30px;
        justify-content: space-between;
        align-items:flex-start;
        flex-wrap: wrap;
    }
     
    .profile-header {
display: flex;
align-items: center;
gap: 20px;
    }
